# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/android/app/build
/ios/App/build

# environment files
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ionic
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/platforms
/plugins
/www

app-lupa-upload-key.keystore